<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Polymer Sci. & Engg.</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<nav>
    <div class="nav-wrapper teal lighten-2" >
      <!-- <div class="card-panel teal lighten-2">This is a card panel with a teal lighten-2 class</div> -->
      <a href="#" class="brand-logo">Polymer Sci. & Engg.</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
        
<body>
      <main class="mdc-top-app-bar--fixed-adjust">
        App content
      </main>

    <a href="/1234">"Me Me ME"</a>
    
</body>
<script src="home.js"></script>
</html>