.app {
  display: flex;
  background-color: rgb(13, 1, 27);
  min-height: 100vh;
}
.App{
  text-align: center;
  background-color: rgb(13, 1, 27);  
}
a, a:visited, a:active, a:hover, a:link{
color: white;
}

.App-logo {
  height: 60vmin;
  width: 40vmin;
  pointer-events: none;
}

.loader{
  height: 100vh; /* Magic here */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

.App-header {
  background-color: rgb(13, 1, 27);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 

 .App-link {
  color: #61dafb;
}

