.chat {
  display: flex;
  flex-direction: column;
  flex: 0.78;
  background-color: rgb(13, 1, 27);
  height: 100vh;
}

.chat__messages {
  overflow-y: scroll;
  flex: 1;
}
  /* width */
  .chat__messages::-webkit-scrollbar {
    width: 8px;
    height: 75vh;
  }
  
  /* Track */
  .chat__messages::-webkit-scrollbar-track {
    background: rgb(13, 1, 27);
  }
  
  /* Handle */
  .chat__messages::-webkit-scrollbar-thumb {
    background: rgb(48, 41, 54);
  }
  
  /* Handle on hover */
  .chat__messages::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.chat__input {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  color: rgb(173, 187, 181);
  border-radius: 5px;
  margin: 20px;
  border-top: 1px solid rgb(48, 41, 54);
  background-color: rgb(48, 41, 54);
}

.chat__input > form > input {
  padding: 15px;
  background: transparent;
  border: none;
  outline-width: 0;
  color: rgb(13, 1, 27);  
  font-size: large;
  width: 100%;
}

.chat__input > form {
  flex: 1;
}


.chat__inputIcons > .MuiSvgIcon-root {
  padding: 5px;
}
.chat__inputButton_hidden{
  display:none;

}

