.chatHeader {
  display: flex;
  align-items: center;
  color: gray;
  padding: 10px;
  padding-bottom: 2%;
  padding-top: 2%;
  border-bottom: 1px solid rgb(141, 133, 148); 
}

.chatHeader__hash {
  color: gray;
  font-size: 30px;
  padding: 10px;
}
.chatHeader__left{
  display: flex;
  flex:0.5;
}
.chatHeader__left > h3 {
  display: flex;
  justify-content: left;
  align-items: center;
  color: rgb(196, 181, 211);
}

.chatHeader__right {
  display: flex;
  align-items: flex-end;
  flex: 0.5;
  justify-content: center;
  text-align: justify;
}
a, a:visited, a:active, a:link{
  color: white;
  }
a:hover{
  color:#4fb185
  }
.chatHeader__right > .MuiSvgIcon-root {
  padding: 5px;
  cursor: pointer;
}

.chatHeader__right > .MuiSvgIcon-root:hover {
  color: #4fb185;
}
#signout{
  color: rgb(141, 133, 148);
  font-weight: 800;
  /* padding-top: 3%; */
  background-color: linear-gradient(to top, #81c784, #4b8a4e);
  border-radius: 2rem;
  /* padding-left: 1%; */
  /* padding-bottom: 3%; */
  /* padding-right: 4%; */
  /* margin-left: 3%; */
}
#signout:hover{
  color: rgb(141, 133, 148);
  font-weight: 800;
  cursor: pointer;
  transform: translateY(-2px);
  background-color: linear-gradient(to top, #81c784, #4b8a4e);
  border-radius: 2rem;
  padding-left: -3%;
  padding-right: 5%;
  padding-top: 3%;
}