.home{
  display: flex;
  flex-direction: column;
  flex: 1;
  height:100vh; 
  overflow: hidden;
}

.home__container{
    display: flex;
    flex:1;     
    overflow: hidden;
  }
  /* .home__container div{
    min-width: 49%;
    
  } */
  .right__container{
    display: flex;
    flex: 0.5;
    flex-direction: column;
    /* flex-basis: 50%; */
    /* align-items: center; */
    justify-content: top;
    overflow: hidden;
    height:100%; 
  }
  .left__container {  
    flex: 0.5;
    scroll-behavior: smooth;
    /* min-height: 100%; */
    /* padding-top: 64%; */
    /* padding-bottom: 64%; */
    border-left: 1px solid rgb(48, 41, 54); 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;    */
    overflow-y: scroll;
    /* height:100%;  */
  }

  /* width */
.left__container::-webkit-scrollbar {
  padding-top: 2vh;
  /* margin-top: 50; */
  width: 4px;
  height: 1px;
}

/* Track */
.left__container::-webkit-scrollbar-track {
  background: rgb(48, 41, 54);
}

/* Handle */
.left__container::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #81c784, #4b8a4e);
}

/* Handle on hover */
.left__container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
  .new-meeting{   
    padding-top: 5%; 
    padding-right: 3%;
   padding-left: 12%;
  }
  .add-room{
    padding-top: 5%; 
    padding-left: 2%;
   padding-right: 10%;
  }