.login {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.login > button {
  width: 300px;
  background-color: bisque;
  color: black;
  font-weight: 800;
}

.login > button:hover {
  background-color: white;
  color:brown;
}

.login > div > img {
  object-fit: contain;
  height: 150px;

}
.App-logo {
  height: 40vmin;
  width: 40vmin;
  pointer-events: none;
  padding: 5%;
}
/* .MuiButton-root,.MuiButton-label{
  width: 10%;
  height: 7vh;
  background-color: rgb(207, 207, 149);
  color: rgb(34, 2, 2);
  border-radius: 17%;
  font-size: medium;
} */
#welcome-msg{
  color: rgb(34, 2, 2);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-bounce 4s ease 0s infinite;
    /* name duration timing-function delay iteration-count direction fill-mode; */
  }
}
@keyframes App-logo-bounce {
  0%   { transform: translateY(0); }
        50%  { transform: translateY(50px); }
        100% { transform: translateY(0); }
}
