.login {
  display: grid;
  place-items: center;
  background-color: rgb(13, 1, 27);
  height: 100%;
  width: 100%;
}

.login > button {
  width: 300px;
  color: black;
  font-weight: 800;
}

.login > button:hover {
  background-color: white;
}

.login > div > img {
  object-fit: contain;
  height: 150px;

}
.App-logo {
  height: 40vmin;
  width: 40vmin;
  pointer-events: none;
  padding: 5%;
  margin-left: 3%;
}
#login-btn:hover{
  transform: translateY(-5px);
  background-color:rgb(226, 206, 206);
  border-radius: 2.5rem;
  box-shadow: -3px 3px 36px 0 rgb(214, 212, 212);

}
#video-call{
  font-size: 1vw;
  margin-left: 7%;
}
#video-call:hover{
  transform: translateY(-5px);
  background-color:rgb(226, 206, 206);
  border-radius: 2.5rem;
  box-shadow: -3px 3px 36px 0 rgb(214, 212, 212);
}
#welcome-msg{
  opacity: 0.8;
  color: rgb(49, 7, 83);
  font-family:'Lucida Grande';
  font-weight: 500;
}
@media (prefers-reduced-motion: no-preference) {
.App-logo {
    animation: App-logo-bounce 4s ease 0s infinite;   
  }  
}

 @keyframes App-logo-bounce {
  0%   { transform: translateY(0); }
        50%  { transform: translateY(50px); }
        100% { transform: translateY(0); }
} 
/* 
@keyframes paper-bounce {
  0%   { transform: translateY(0); }
        50%  { transform: translateY(50px); }
        100% { transform: translateY(0); }
} */