.message {
  display: flex;
  align-items: center;
  padding: 40px;
  color: rgba(26, 21, 21, 0.76);
  justify-content: end;
}

.message__info {
  font-size: medium; 
}

.message__timestamp {
  color: gray;
  margin-left: 20px;
  font-size: x-small;
}
#user{
  color: rgb(185, 176, 194);
}
