.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.22;
  height: 100vh;
  background-color: rgb(13, 1, 27);  
  border-right: 1px solid gray;
}

.sidebar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(13, 1, 27);  
  color: white;
  border-bottom: 1px solid gray;
}

.sidebar__channels {
  flex: 1;
}

.sidebar__expandMoreIcon {
  cursor: pointer;
}

.sidebar__expandMoreIcon:hover {
  color: white;
}

.sidebar__addChannelIcon {
  cursor: pointer;
  color: rgb(10, 14, 17);
}

.sidebar__addChannelIcon:hover {
  color: rgb(7, 150, 90);
}

.sidebar__channelsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(13, 1, 27);  
  color: gray;
  border-bottom: 1px solid gray;
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  background-color: rgb(13, 1, 27);  
  padding: 14px;
  border-top: 1px solid rgb(48, 41, 54);
}
#username{
  color:azure;
  font-size:medium;
  font-weight: 800;
}
#roomname{
  color:azure;
  font-size:2.5vw;
  font-weight: 500;
}
#channel{
  color: azure;
  font-size: 26px;
  font-weight: 400;
  padding-left: 10%;
  font-size: 1.5vw;
}

.sidebar__profileInfo {
  flex: 1;
  flex-direction: column;
  padding: 12px;
}

.sidebar__voiceIcon {
  color: #4fb185;
}

.sidebar__voiceInfo > h3 {
  color: #4fb185;
}

.sidebar__voiceInfo > p {
  font-size: smaller;
}

.sidebar__voiceIcons > .MuiSvgIcon-root, .sidebar__profileIcons > .MuiSvgIcon-root {
  padding: 10px;
}

.sidebar__profileInfo > h3 {
  color: white;
}
#signout{
  font-size: 1vw;
  color: rgb(206, 48, 56);
  font-weight: 800;
  padding-top: 3%;
  background-color: rgb(68, 53, 80);
  border-radius: 2rem;
  /* padding-left: -3%; */
  /* padding-right: 1%; */
  margin-left: 3%;
}
#signout:hover{
  color: rgb(206, 48, 56);
  font-weight: 800;
  cursor: pointer;
  transform: translateY(-2px);
  background-color: rgb(68, 53, 80);
  border-radius: 2rem;
  /* padding-left: -3%;
  padding-right: 5%; */
  padding-top: 3%;
}