.sidebarChannel:hover > h4 {
  color: rgb(8, 185, 111);
  background-color: rgb(48, 41, 54);
}

.sidebarChannel > h4 {
  display: flex;
  padding-left: 15px;
  align-items: center;
  background-color: rgb(13, 1, 27);  
  color: rgb(185, 176, 194);
  cursor: pointer;
}

.sidebarChannel__hash {
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
}